:root {
    --violet:hsl(257, 40%, 49%) ;
    --magenta-soft: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    background-image: url("./images/bg-desktop.svg");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-color: var(--violet);
}

h1{
    font-size: 2.6rem;
    line-height: 1.5em;
}

p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;

}

.content-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}

.box-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 5rem;
    min-width: 375px;
}

.box-a a{
    margin-bottom: 3rem;
    display: inline-block
}

.box-a a img {
    height: auto;
    width: 14rem;
}

.box-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 5rem 5rem 5rem 0;
    min-width: 375px;

}

.box-b a {
    display: inline-block;
    margin-right: auto;
    padding: .8rem 5rem;
    /* padding: 15px 60px; */
    background: white;
    border-radius: 30px;
    text-decoration: none;
    color: var(--violet);
    margin-top: 1.8rem;
    font-size: 1rem;
    box-shadow: 2px 6px 12px 0px rgba(0,0,0, .6);
}

.box-b a:hover {
    background: var(--magenta-soft);
    color: white;
    transition: .5s ease;
}

.box-bottom {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.box-item  {
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1rem;
    padding: .4rem .6rem;
    margin-bottom: 3rem;
    fill: white;
}

.box-item:hover,
.box-item:hover i{
    border-color: var(--magenta-soft);
    color: var(--magenta-soft);
}

.box-item:nth-of-type() {
    margin-right: 3rem;
}

.box-item i {
    color: white;
}


@media only screen and (max-width: 900px){
    html {
        font-size: .7244rem;
    }
    body {
        background-image: none;
    }

    h1, p{
        text-align: center;
    }

    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.4rem;
        word-spacing: .3rem;
    }
    .box-a {
        height: auto;
        background-image: url("./images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-container {
        grid-template-columns: 1fr;
    }

    .box-b {
        padding: 0 4rem 4rem 4rem;
    }

    .box-b a {
        margin-right: auto;
        margin-left: auto;
        font-size: 1.5rem;
        padding: .8rem 5rem;
    }
    .box-bottom {
        justify-content: center;
        margin: auto;
    }
    .box-item {
        margin-bottom: 0;
        padding: .400rem .900rem;
    }
}
